<html>
  <head>
    <title>SocialMedia+</title>
  </head>
  <body>
    <h1>SocialMedia+</h1>
    <h2>Additional features and capabilities for multiple platforms</h2>
    {% block content %} {% endblock %}
    <br />
    <br />
    <a href="/twitter">
      <img src="/static/Twitter_Logo_White_On_Blue.png" alt="Twitter img"
      style="width:100px;heigh:100px;border:0;">
    </a>
    <br />
    <br />
    <a href="/facebook">
      <img src="/static/FB-fLogo-Blue-broadcast-2.png" alt="FB img"
      style="width:100px;heigh:100px;border:0;">
    </a> 
  </body>
</html>
