<html>
  <head>
    <title>SocialMediaX</title>
  </head>
  <body> 
	<h1>SocialMediaX</h1>
	<h2>Additional features and capabilities for multiple platforms</h2>
    <h3>
	  <img src="/static/Twitter_Logo_White_On_Blue.png" alt="Twitter img"
        style="width:100px;heigh:100px;border:0;">
	</h3>
	<br />
	<br />
	
	<form action="" method="POST">
			Please enter number of tweets to download (3200 max): <input type="text" name="tweet_count">
			<input type="submit" name="submit" value="Submit">
	</form>
	<!--
	{% if info %} <br/>
	Done! <br/> <br/>
	<form action="http://127.0.0.1:5000/twitter">
		<input type="submit" value="Continue" />
	</form>
	{% endif %}
	-->
  </body>
</html>